<%- include('../partials/header') %>

    <div class="container">

        <h1>Editing <%= drink.name %></h1>
        
        <!-- form will be sent to http://localhost:3000/drinks -->
        <form action="/drinks/<%= drinkID %>?_method=patch" method="post">

            <div class="mb-3">
              <label for="drink_name" class="form-label">Name</label>
              <input type="text" class="form-control" id="drink_name" name="drink_name" value="<%= drink.name %>">
            </div>

            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input type="number" min="1" class="form-control" id="price" name="price" value="<%= drink.price %>">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

<%- include('../partials/footer') %>

